*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    max-width: 1085px;
    margin:auto;
}
header{
    background-color:white;
    padding:1.2rem;
}
.header-container{   
    display: flex;
    align-items: center;
    gap:10px;
}
.fa-bars{
    margin-left:auto;
    cursor: pointer;
}
    .title-page{
        font-size: 1.2em;
        font-weight: 700;
    }
    .nav-bar{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left:auto;
        display: flex;
        gap:2rem;
    }
    .nav-bar a, .nav-bar-mobile a{
        text-decoration: none;
        color:black;
        font-weight: 600;
        text-transform: uppercase;
        font-size:1em;
    }
    
    .nav-bar a:hover, .nav-bar-mobile a:hover{
        color:#666;
    }
    .active{
        color:brown !important;
    }
.hero-container{
    min-height:290px;
    background-image: url("../images/blog-image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color:white;
    padding-top: 1rem;
    padding-left:1.2rem;
    padding-right:1.2rem;
    padding-bottom:2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .date-hero{
        font-weight:normal;
        font-size:0.75rem;
        margin-bottom: 8px;
    }
    
    .title-hero{
        font-size:2rem;
        margin-bottom: 8px;
    }
        
        .title-hero a{
            color:white;
            text-decoration: none;
        }
        .title-hero a:hover{
            color:tomato;
        }
    
    .p-hero{
        line-height: 1.3;
    }
    
    .post-container{
        display: flex;
        flex-wrap: wrap;
        padding:1.2em;
        gap:1em;
        justify-content: center;
    }
    
    .post{
        flex-basis: 300px;
        flex-grow:1;
    }
    .post h3{
        font-size:0.875rem;
        font-weight: normal;
        margin-bottom:9px;
        margin-top:14px;
    }
    
    .post h2{
        font-size:1.5rem;
        margin-bottom:9px;
    }
    
    .post p{
        color:#505050;
        line-height: 1.25;
    }
    .img-post{
        width: 100%;
    }
    
    .a-view{
        color:black;
        text-align: center;
        display: block;
        font-weight: 700;
        margin-bottom:75px;
        margin-top:25px;
        cursor: pointer;
        text-decoration: underline;
    }
    
    .a-view:hover{
        color:#666;
    }
    
    footer{
        background-color: #202020;
        text-align: center;
        padding:3em 1em;
        font-size:0.8em;
    }
    
    footer h2{color:#ECECEC; }
    footer p{color:#D7D7D7;}
    
    .nav-bar-mobile{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .nav-bar-mobile li{
        text-align: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #ECECEC;
    }
    
    .hide{
        display: none;
    }
    
    /* Journey */
    .container-note{
        padding:1.2em;
    }
    .image-hero{
        width: 100%;
        display: block;
        object-fit: cover;
        max-height: 450px;
    }
    
    .note{
        font-size: 1em;
    }
    .note h3{
        margin-top:20px;
        margin-bottom:20px;
    }
    .note p{
        margin-bottom:15px;
        line-height: 1.5
    }
    
    .title-recent{
        font-size: 1em;
        text-align: center;
        margin:1em 0;
    }
    
    /* Profile */
    
    .profile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .info h2{
        color:#151515;
        font-size:2.2rem;
        margin-bottom:15px;
        margin-top:25px;
    }
    .info p{
        line-height: 1.5;
    }
    
    @media (min-width:600px){
        
        .title-page{
            font-size:1.6rem;
        }
        .nav-bar a{
            font-size:1.2rem;
        }
        .date-hero{
            font-size: 1rem;
        }

        .title-hero{
            font-size:2.5rem;
        }
        .p-hero{
            font-size:1.2rem;
            line-height: 1.6;
            width: 70%;
        }
        .hero-container{
            min-height: 488px;
        }
        .note{
            font-size:1.2em;
        }
        .title-recent{
            font-size: 1.5em;
        }
        .profile{
            flex-direction: row;
            gap:30px;
            align-items:center;
        }
        .info h2{
            font-size:2.5rem;
        }
        .info p{
            font-size:1.1rem;
        }
        .about{
            width: 90%;
            margin: auto;
        }
    }
    
  @media (min-width:769px){
      .a-view{
          display: none;
      }
      .nav-bar{
          display: flex;
      }
      .fa-bars{
          display: none;
      }
      .nav-bar-mobile{
          display: none;
      }
      .post{display: block;}
  }  